@import "../style-master.scss";

.aci-box {
  @include center-all();
  width: 250px;
}

.contact-info-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.aci-input {
  @include brawlr-element();
  margin: 2px;
  width: 125px;
}

.aci-btn {
  @include brawlr-element();
  margin: 2px;
  width: 72px;
}

.goto-main {
  @include brawlr-element();
  margin: 2px;
  width: 230px;
}

@media (min-width: 500px) {
  .aci-box {
    width: 500px;
  }
  .contact-info-row {
    width: 460px;
  }
  .aci-input {
    width: 330px;
  }
  .goto-main {
    width: 430px;
  }
}
