/* @import "../style-master.scss"; */
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  height: auto;
  width: 85vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  width: 90vw;
}

.title {
  text-shadow: 1px 1px 7px #54457f;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  color: #eff0d1;
  height: 50px;
}

.sub-title {
  text-shadow: 1px 1px 7px #54457f;
  display: flex;
  justify-content: center;
  color: #eff0d1;
  font-size: 1.2rem;
  width: 80vw;
  margin: 5px;
  margin-bottom: 10px;
}

.login-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90vw;
}

.description {
  text-shadow: 1px 1px 7px #54457f;
  color: #eff0d1;
  text-align: center;
  margin: 3px;
  max-width: 250px;
}

.username-input {
  box-shadow: 1px 1px 3px #eff0d1;
  background: linear-gradient(to bottom, #283557 50%, #191516 100%);
  background-color: #283557;
  border-radius: 4px;
  border: 1px solid #191516;
  display: inline-block;
  cursor: pointer;
  color: #eff0d1;
  font-family: Times New Roman;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #191516;
  width: 166px;
  margin: 2px;
}

.username-input:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 3px #0aceff;
  color: #0aceff;
}

.register-btn {
  box-shadow: 1px 1px 3px #eff0d1;
  background: linear-gradient(to bottom, #283557 50%, #191516 100%);
  background-color: #a2adc0;
  border-radius: 4px;
  border: 1px solid #191516;
  display: inline-block;
  cursor: pointer;
  color: #eff0d1;
  font-family: Times New Roman;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #191516;
  width: 83px;
  margin: 2px;
}

.register-btn:hover {
  background: linear-gradient(to bottom, #191516 5%, #283557 100%);
}

.register-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 3px #0aceff;
  color: #0aceff;
}

.password-input {
  box-shadow: 1px 1px 3px #eff0d1;
  background: linear-gradient(to bottom, #283557 50%, #191516 100%);
  border-radius: 4px;
  border: 1px solid #191516;
  display: inline-block;
  cursor: pointer;
  color: #eff0d1;
  font-family: Times New Roman;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #191516;
  width: 166px;
  margin: 2px;
}

.password-input:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 3px #0aceff;
  color: #0aceff;
}

.login-btn {
  box-shadow: 1px 1px 3px #eff0d1;
  background: linear-gradient(to bottom, #283557 50%, #191516 100%);
  background-color: #283557;
  border-radius: 4px;
  border: 1px solid #191516;
  display: inline-block;
  cursor: pointer;
  color: #eff0d1;
  font-family: Times New Roman;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #191516;
  width: 83px;
  margin: 2px;
}

.login-btn:hover {
  background: linear-gradient(to bottom, #191516 5%, #283557 100%);
}

.login-btn:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 0px 0px 3px #0aceff;
  color: #0aceff;
}

@media (min-width: 600px) {
  .username-input {
    font-size: 20px;
    width: 300px;
    margin: 4px;
  }
  .password-input {
    font-size: 20px;
    width: 300px;
    margin: 4px;
  }
  .register-btn {
    font-size: 20px;
    width: 150px;
    margin: 4px;
  }
  .login-btn {
    font-size: 20px;
    width: 150px;
    margin: 4px;
  }
  .title {
    font-size: 8rem;
    height: 100px;
  }

  .sub-title {
    font-size: 2.2rem;
  }

  .description {
    max-width: 500px;
  }
}
