body {
  margin: 0;
  background: url(https://cdn.discordapp.com/attachments/770390198344613899/805508217886736415/unknown.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
